body{
    background-color:#121212;
    color:white;
    margin:0;
}
.topNav{
    font-size:20px;
    padding:15px 15px;
    background-color: #090909;
}
.links{
    margin-top:3px;
    float:right;
    cursor: pointer;
}
.logo{
    font-size:25px;
    user-select: none;
    cursor: pointer;
}
a{
    color:white;
    text-decoration: none;
    padding:20px;
}
.links a:hover{
    background-color: #222222;
    border-radius: 15px;
    padding:10px;
    margin:10px;
}
.info{
    text-align: center;
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:25px;
}
.info p{
    color:rgba(255, 255, 255, 0.476)
}